@import '../../styles/variables.scss';

.hero-card{
    color: $primary-two-color;
    max-width: 571px;
    height: 299px;
    margin-top: 200px;
    text-align: left;
}

h2{
    margin-bottom: 5px;

}

p{
    font-size: 18px;
    max-width: 430px;
}
