//colors
$primary-one-color:#272727;
$primary-two-color:#FFFFFF;
$secondary-color:#5BC0BE;
$accent-color:#CE2D4F;

//Font (this should probably go into a scss config)
$font-stack:'Open Sans', sans-serif;

