//colors
$primary-one-color:#272727;
$primary-two-color:#FFFFFF;
$secondary-color:#5BC0BE;
$accent-color:#CE2D4F;

//Font (this should probably go into a scss config)
$font-stack:'Open Sans', sans-serif;

//Heading size (this should probably go into a scss config)
h1{
    font-family: $font-stack;
    font-size: 72px;
    font-weight: medium;
}

h2{
    font-family: $font-stack;
    font-size: 51px;
    font-weight: medium;
}

h3{
    font-family: $font-stack;
    font-size: 36px;
    font-weight: regular;
}

h4{
    font-family: $font-stack;
    font-size: 25px;
    font-weight: regular;
}

h5{
    font-family: $font-stack;
    font-size: 18px;
    font-weight: regular;
}

h6{
    font-family: $font-stack;
    font-size: 14px;
    font-weight: regular;
}