@import '../../styles/variables';

.landing-section{
    background: $primary-one-color url('../../assets/landing-page-background.jpg') center / cover no-repeat;
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0;
    text-align: center;
}