@import '../../styles/variables.scss';

.navbar{
    color: $primary-two-color;
    flex-direction: row;
    align-items: center;
    
}

.branding{
    h3{
        margin-top: 0;
    }
}

.navbar-menu-container{
    max-width: 600px;
}

.navbar-menu{
    list-style-type:none;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.navbar-menu-item{
    
}

