@import '../../styles/variables.scss';

.navbar{
    color: $primary-two-color;
    
}
.navbar-menu-container{

}

.navbar-menu{
    list-style-type:none;
    display: flex;
    align-items: center;
}

.navbar-menu-item{
    
}

.branding{
    h3{
        margin-top: 0;
    }
}