@import '../../styles/variables.scss';

.navbar{
    color: $primary-two-color;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.branding{
    h3{
        margin-top: 0;

        @include media-lte-sm {
            font-size: 14px;
        }
    }
}

.navbar-menu-container{
    max-width: 600px;
}

.navbar-menu{
    list-style-type:none;
    max-width: 400px;
    display: flex;
    justify-content: space-between;

    li {
        margin: 0 12px;

        &:last-child {
            margin-right: 0;
        }
    }
}


